.banner {
  color: #ffffff;
  padding: 160px 0 170px;

  .page__title {
    max-width: 664px;
    margin-bottom: 42px;
    br {
      display: none;
    }
  }

  &__list {
    max-width: 400px;
    li {
      display: grid;
      align-items: center;
      grid-template-columns: 75% max-content;
      margin-bottom: 9px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    span {
      &:first-child {
        font-weight: 400;
        font-size: 18px;
      }

      &:last-child {
        background: #ffffff;
        border-radius: 8px;
        padding: 9px;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;
        color: #01579b;
        width: max-content;
      }
    }
  }

  &__button {
    margin-top: 35px;
    background: radial-gradient(140.41% 1109.59% at 6.85% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%),
      #ff0e15;
    box-shadow: 0px 13px 35px -13px rgba(220, 45, 34, 0.59);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    color: white;
    width: 100%;
    z-index: 99999;
    &:hover {
      box-shadow: 0px 0px 9px 7px rgba(255, 14, 21, 0.4);
    }

    svg {
      width: 22px;
      height: 22px;
      margin-right: 5px;
      fill: white;
    }
  }

  @media (max-width: 1024px) {
    padding: 133px 0 204px;
  }

  @media (max-width: 767px) {
    padding: 69px 0 296px;

    .page__title {
      font-size: 36px;
      br {
        display: initial;
      }
    }

    &__list {
      li {
        grid-template-columns: 70% max-content;
      }
      span {
        &:first-child {
          font-size: 16px;
        }

        &:last-child {
          font-size: 16px;
        }
      }
    }
  }
}
