.header {
  padding: 25px 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.49);
  color: white;
  background: #01579b;
  &__location {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-right: 65px;
    svg {
      width: 18px;
      height: 18px;
      margin-right: 7px;
    }
  }

  &__cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    justify-self: end;
    width: 110px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    svg {
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
  }

  .page__container {
    display: grid;
    grid-template-columns: max-content max-content 1fr 1fr;
    align-items: center;
  }

  &__cart-count {
    position: absolute;
    left: 22px;
    top: 6px;
    background: #ff0e15;
    border: 2px solid #01579b;
    font-size: 8px;
    line-height: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    .phone {
      position: relative;
      grid-column: 3/4;
      span {
        display: none;
      }
      svg {
        margin-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: -11px;
        left: -11px;
        right: -11px;
        bottom: -11px;
        background: #ffffff;
        opacity: 0.1;
        border-radius: 8px;
      }
    }

    .logo {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .page__container {
      grid-template-columns: max-content 1fr max-content max-content;
      gap: 20px;
    }
  }

  @media (max-width: 580px) {
    &__location {
      display: none;
    }

    .page__container {
      grid-template-columns: 1fr max-content max-content;
    }
    .phone {
      grid-column: 2/3;
    }
    .logo {
      margin: 0;
      justify-self: initial;
      grid-column: 1/2;
    }

    &__cart {
      width: 40px;
      height: 40px;
      span {
        display: none;
      }
    }
  }
}
