.section {
  padding: 90px 0;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #0c151e;
  }
}


.background-gray {
  background-color: #EFF6FF;
}